# dependencies
node_modules/

# next
.next/
out/

# environment
.env
.env.local
.env.production
.env.development

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor
.vscode/
.idea/

# macOS
.DS_Store